[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.9"
django-extensions = "*"
django-debug-toolbar = "*"
flake8 = "*"
requests = "*"
celery = "*"
psycopg2-binary = "*"
redis = "*"
djangorestframework = "*"
django-filter = "*"
drf-yasg = "*"
gunicorn = "*"
python-memcached = "*"
pillow = "*"
djoser = "*"
django-mptt = "*"

[dev-packages]

[requires]
python_version = "3.8"
